body {
	background: black;
	color: green;
	margin: 0;
}

h2 {
	font-family: monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

canvas {
	z-index: -2;
	display: block;
	position: absolute;
	width: 500px;
	height: 500px;
	background: black;
	position: absolute;
}

.title {
	margin: 0 auto;
	padding-top: 300px;
	text-align: center;
	display: block;
}

.octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: ghostwhite;
}

.octlink {
	margin: 10px auto;
	display: block;
	width: 32px;
}

.fridgeimg {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	padding-top: 400px;
	z-index: -1;
}
