body {
	background: black;
	color: green;
	margin: 0;
}

h2 {
	font-family: monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

canvas {
	z-index: -2;
	display: block;
	background: black;
    margin-bottom: 50px;
}

#header {
    position: fixed;
    display: block;
    width: 100%;
    height: 0;
    background-color: darkgray;
    top: 0;
    z-index: 0;
    box-shadow: 0 -20px 20px 20px rgba(0,0,0,0.8);
    transition: height 0.2s linear;
}

.visible {
    height: 100px !important;
}

#pinned_top {
	position: fixed;
	top: 300px;
	display: block;
	left: 50%;
	width: 200px;
    height: 200px;
	margin-left: -100px;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}

.substrate {
    background: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 4px solid white;
    margin-left: -104px !important;
    margin-top: -4px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;

    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
}

.substrate::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.substrate:hover {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

.substrate:hover::after {
    opacity: 1;
}

#pinned_top .title {
	margin: 5px auto;
	text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#pinned_top .octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: ghostwhite;
}

#pinned_top .octlink {
	margin: 10px auto;
	width: 32px;
	display: block;
}

#pinned_top .fridgeimg {
	left: 50%;
	margin-left: -50px;
	z-index: -1;
	position: relative;
}

#content {
    width: 100%;
    background: white;
    margin: 15px auto;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#content .post-container {
    min-width: 360px;
    max-width: 1000px;
    margin: 0 auto;
    color: black;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

#content .post-container .header {
    height: 40px;
    padding: 0 0 5px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#content .post-container .header .title {
    display: inline-block;
    font-size: 35px;
}

#content .post-container .header .date {
    display: inline-block;
    font-family: sans-serif;
    text-align: center;
}

#content .post-container .header .date p {
    margin: 0;
    font-size: 10px;
}

#content .post-container .header .date .day {
    font-size: 15px !important;
}

.top-shadow {
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

body {
    background: black;
}

@-webkit-keyframes glowing {
    0% { -webkit-box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.3);  }
    50% { -webkit-box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.8); }
    100% { -webkit-box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3); }
}

@-moz-keyframes glowing {
    0% { -moz-box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.3); }
    50% { -moz-box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.8); }
    100% { -moz-box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3); }
}

@-o-keyframes glowing {
    0% { box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.3); }
    50% { box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.8); }
    100% { box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3); }
}

@keyframes glowing {
    0% { box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.3); }
    50% { box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.8); }
    100% { box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3); }
}

.glow {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
