layout: default.liquid
---
<div>
	<canvas id="main_canvas"></canvas>
    <div id="pinned_top">
	    <img class="fridgeimg" src="img/fridge-in-space.png" />
	    <h2 class="title" >Fridge`s dump</h2>
	    {% include 'ghlink.liquid' %}
	</div>
</div>
<div id="content">
</div>
