layout: default.liquid
---
<div>
	<canvas id="main_canvas"></canvas>
    <div id="pinned_top">
	    <img class="fridgeimg" src="img/fridge-in-space.png" />
	    <h2 class="title" >Fridge`s dump</h2>
	    {% include 'ghlink.liquid' %}
	</div>
	<div id="header"></div>
</div>
<div id="content">
	{% for post in collections.posts.pages %}
	<div class="post-container">
		<div class="header">
			<div class="date">
				<p class="day">{{ post.published_date | date: "%d" }}</p>
				<p>{{ post.published_date | date: "%m::%Y" }}</p>
			</div>
			<div class="title">{{ post.title }}</div>
		</div>
		<div class="post-content">
			{{ post.content }}
		</div>
	</div>
	{% endfor %}
</div>
